html{
    font-size: larger;
    background-color: black;
    color: white;
    max-width: 600px;
    margin: 10px;
}

div.image_preview {
    border: 1px solid white;
    border-radius: 15px;
    overflow-x: scroll;
    white-space: nowrap;
}

div.image_preview img {
    display: inline-block;
    object-fit: contain;
    width: 200px;
    max-width: 50vw;
    max-height: 100vh;
    margin: 10px;
}
div.image_preview img:focus {
    width: 300px;
}